@model Presence.Models.Present

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Present</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JourIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JourIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JourOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JourOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departement.NomDepartement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employe.Nom)-@Html.DisplayFor(model => model.Employe.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shift.ShiftName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
