@model IEnumerable<Presence.Models.Present>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <div class="mt-2">
        <form asp-action="Upload" method="post" enctype="multipart/form-data" class="d-flex align-items-center gap-3">
            <div>

                <input type="file" name="csvFile" class="form-control" accept=".csv" required />
            </div>
            <button type="submit" class="btn btn-secondary">Importer</button>
        </form>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JourIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JourOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JourIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JourOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departement.NomDepartement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employe.Nom)-@Html.DisplayFor(modelItem => item.Employe.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
