@model IEnumerable<Presence.Models.Present>

@{
    ViewData["Title"] = "Index";
}

<h1>Presence</h1>

<div class="d-flex flex-row gap-3">
    <div>
        <p>
            <a asp-action="Create" class="btn btn-success"><span class="bi bi-plus">Creer</span></a>
        </p>
    </div>
    <div >
        <form asp-action="Upload" method="post" enctype="multipart/form-data" class="d-flex align-items-center gap-3">
            <div>

                <input type="file" name="csvFile" class="form-control" accept=".csv" required />
            </div>
            <button type="submit" class="btn btn-dark ">Importer</button>
        </form>
    </div>
    <div >
        <p class="align-items-center ">
           
            <a class="btn btn-secondary" href="/Presents/ExportToExcel">Exporter</a>
        </p>
    </div>
</div>
<table class="table table-bordered mt-2">
    <thead class="text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jour)
            </th>
            <th>
                Status
            </th>
            <th>
                Heure d'entree
            </th>
            <th>
                Heure de sortie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="text-center">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JourIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JourOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departement.NomDepartement)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Employe.FirstName)- @Html.DisplayFor(modelItem => item.Employe.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><span class="bi bi-pencil">Edit</span></a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info text-white"><span class="bi bi-eye">Details</span></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><span class="bi bi-trash">Delete</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
