@model Presence.Models.Employe

@{
    ViewData["Title"] = "Employee Details";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-info text-white text-center">
                    <h3>Employee Details</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4 fw-bold">First Name:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.FirstName)</dd>

                        <dt class="col-sm-4 fw-bold">Last Name:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.LastName)</dd>

                        <dt class="col-sm-4 fw-bold">Sexe:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Sexe)</dd>

                        <dt class="col-sm-4 fw-bold">Birth Date:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.BirthDate)</dd>

                        <dt class="col-sm-4 fw-bold">Hire Date:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.HireDate)</dd>

                        <dt class="col-sm-4 fw-bold">Email:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-4 fw-bold">Address:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>

                        <dt class="col-sm-4 fw-bold">City:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.City)</dd>

                        <dt class="col-sm-4 fw-bold">Region:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Region)</dd>

                        <dt class="col-sm-4 fw-bold">Country:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Country)</dd>

                        <dt class="col-sm-4 fw-bold">Phone:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Phone)</dd>

                        <dt class="col-sm-4 fw-bold">Extension:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Extension)</dd>

                        <dt class="col-sm-4 fw-bold">Photo:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Photo)</dd>

                        <dt class="col-sm-4 fw-bold">Employee Notes:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.EmployeeNotes)</dd>

                        <dt class="col-sm-4 fw-bold">Barcode:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Barcode)</dd>

                        <dt class="col-sm-4 fw-bold">Postal Code:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Postal.Code_Postal)</dd>

                        <dt class="col-sm-4 fw-bold">Department:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Departement.NomDepartement)</dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info text-white">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
