@model IEnumerable<Presence.Models.Shift>

@{
    ViewData["Title"] = "Index";
}

<h1>Shifts</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><span class="bi bi-check"> Create</span></a>
</p>
<table class="table table-bordered">
    <thead class="text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Earliest_In)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.In_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Out_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latest_Out)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="text-center">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Earliest_In)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.In_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Out_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latest_Out)
            </td>
            <td >
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><span class="bi bi-pencil"></span>Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info text-white"><span class="bi bi-eye"></span>Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><span class="bi bi-trash"></span>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
