@model IEnumerable<Presence.Models.Shift>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Earliest_In)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.In_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Out_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latest_Out)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Earliest_In)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.In_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Out_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latest_Out)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
