@model IEnumerable<Presence.Models.Postal>

@{
    ViewData["Title"] = "Index";
}

<h1>Code Postal</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><span class="bi bi-plus">Creer</span></a>
</p>
<table class="table table-bordered">
    <thead class="text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code_Postal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pays)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="text-center">
@foreach (var item in Model) {
        <tr>
            <td>
                Code Postal
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pays)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><span class="bi bi-pencil">Edit</span></a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info text-white"><span class="bi bi-eye">Details</span></a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><span class="bi bi-trash">Delete</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
